@import "../../../variables.scss";

.bottom-panel {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
}

.opacity-controller {
  width: 160px;
  height: 20px;
  border: $interfaceBorder;
  border-radius: $interfaceBorderRadius;
  position: relative;
  background-color: $backgroundPink;
  cursor: pointer;
  .opacity-controller__toggle-switch {
    position: absolute;
    width: 30px;
    height: 30px;
    border: $interfaceBorder;
    border-radius: $interfaceBorderRadius;
    border-width: 4px;
    top: 0;
    transform: translate(-50%, -25%);
    background-color: $backgroundPink;
    cursor: pointer;
    z-index: 3;
    transition: background-color 0.2s ease;
  }
  .opacity-controller__filler {
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: $backgroundAzure;
    border-radius: $interfaceBorderRadius;
    z-index: 2;
  }
}

.opacity-controller:hover {
  .opacity-controller__toggle-switch {
    background-color: $borderRed;
  }
}

@media (max-width: 1800px) {
  .opacity-controller {
    width: 120px;
    height: 15px;
    .opacity-controller__toggle-switch {
      position: absolute;
      width: 25px;
      height: 25px;
    }
  }
}
