@import "./variables.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: $backgroundPinkIntense;
  font-size: $fontSize;
  // padding: 10px 5px;
  color: $borderRed;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  letter-spacing: -0.5px;
}

// modal backdrop
.modal-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  background-color: grey;
  height: 500vh;
  width: 0;
  opacity: 0;
  transition: opacity 0.5s ease;
}
body.modal-window-opened {
  overflow-y: hidden;
  .modal-backdrop {
    width: 100vw;
    z-index: 10;
    opacity: 0.6;
  }
}
body.loading-window-opened {
  overflow-y: hidden;
  .modal-backdrop {
    width: 100vw;
    z-index: 101;
    opacity: 0.6;
  }
}
// buttons
.button {
  border: $interfaceBorder;
  border-radius: $interfaceBorderRadius;
  background-color: $backgroundPinkIntense;
  transition: background-color 0.2s ease;
  min-height: 75px;
  min-width: 130px;
  padding: 10px 6px;
  user-select: none;
  cursor: pointer;
  text-align: center;
  position: relative;
}
.button::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  border: $interfaceBorder;
  border-radius: $interfaceBorderRadius;
  transition: opacity 0.2s ease;
  opacity: 0;
}

.button_disabled {
  opacity: 0.4;
  cursor: auto;
}
.button_active::after {
  opacity: 1;
}

@media (hover: hover) {
  .button:not(.button_disabled):hover {
    background-color: $borderRed;
    color: $backgroundPinkIntense;
    .close-button__stick {
      background-color: $backgroundPinkIntense;
    }
  }
}
.main-container {
  max-width: 2560px;
  min-width: 768px;
  margin-top: 10px;
  padding: 0px 500px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 2300px) {
  .main-container {
    padding: 0 450px;
  }
}
@media (max-width: 2100px) {
  .main-container {
    padding: 0 400px;
  }
}
@media (max-width: 2000px) {
  body {
    font-size: $fontSize-2000px;
  }
  .button {
    padding: 8px 4px;
  }
  .button {
    min-height: 45px;
    min-width: 80px;
  }
}
@media (max-width: 1900px) {
  .main-container {
    padding: 0 350px;
  }
}
@media (max-width: 1800px) {
  body {
    font-size: $fontSize-1800px;
  }
  .button {
    padding: 6px 6px;
  }
  .main-container {
    max-width: 1100px;
    padding: 0 50px;
  }
}
@media (max-width: 1200px) {
  body {
    font-size: $fontSize-1200px;
  }
}
@media (max-width: 950px) {
  .main-container {
    padding: 0 40px;
  }
  body {
    font-size: $fontSize-950px;
  }

  .button {
    min-height: 40px;
    min-width: 70px;
  }
}
