@import "./variables.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: $backgroundPinkIntense;
  font-size: $desctop-fontSize;
  // padding: 10px 5px;
  color: $borderRed;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  letter-spacing: -0.5px;

  margin-left: auto;
  margin-right: auto;
  max-width: 2560px;
}

// modal backdrop
.modal-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  background-color: grey;
  height: 500vh;
  width: 0;
  opacity: 0;
  transition: opacity 0.5s ease;
}
body.modal-window-opened {
  overflow-y: hidden;
  .modal-backdrop {
    width: 100vw;
    z-index: 10;
    opacity: 0.6;
  }
}
// buttons
.button {
  border: $interfaceBorder;
  border-radius: $interfaceBorderRadius;
  background-color: $backgroundPinkIntense;
  transition: background-color 0.2s ease;
  min-height: 40px;
  min-width: 80px;
  padding: 2px 4px;
  user-select: none;
}

.button_disabled {
  opacity: 0.4;
  cursor: auto;
}
@media (hover: hover) {
  .button:not(.button_disabled):hover {
    background-color: $borderRed;
    color: $backgroundPinkIntense;
    .close-button__stick {
      background-color: $backgroundPinkIntense;
    }
  }
}
.main-container {
  margin-top: 10px;
  padding: 0 250px;
}

@media (max-width: 800px) {
  .main-container {
    padding: 0 10px;
  }
}
