// colors
$backgroundWhite: rgb(250, 238, 238);
$borderRed: rgb(95, 28, 28);
$backgroundPink: rgb(255, 248, 248);

// border
$interfaceBorder: solid $borderRed 2px;
$interfaceBorderThin: solid $borderRed 1px;

$interfaceBorderRadius: 6px;

// font sizes
$desctop-fontSize: 1.5rem;
$desctop-fontSize-heading: 2rem;
