// colors
$backgroundPinkIntense: rgb(250, 224, 224);
$borderRed: rgb(95, 28, 28);
$backgroundPink: rgb(255, 248, 248);
$backgroundAzure: rgb(186, 222, 222);

// border
$interfaceBorder: solid $borderRed 2px;
$interfaceBorderThin: solid $borderRed 1px;

$interfaceBorderRadius: 6px;

// font sizes
$fontSize: 2rem;
$fontSize-heading: 2.5rem;

$fontSize-2300px: 1.9rem;
$fontSize-heading-2300px: 2.375rem;

$fontSize-2000px: 1.8rem;
$fontSize-heading-2000px: 2.25rem;

$fontSize-1800px: 1.4rem;
$fontSize-heading-1800px: 1.8rem;

$fontSize-1200px: 1.2rem;
$fontSize-heading-1200px: 1.5rem;

$fontSize-950px: 1.1rem;
$fontSize-heading-950px: 1.3rem;


