// colors
$backgroundPinkIntense: rgb(250, 224, 224);
$borderRed: rgb(95, 28, 28);
$backgroundPink: rgb(255, 248, 248);
$backgroundAzure: rgb(186, 222, 222);

// border
$interfaceBorder: solid $borderRed 2px;
$interfaceBorderThin: solid $borderRed 1px;

$interfaceBorderRadius: 6px;

// font sizes
$desctop-fontSize: 2rem;
$desctop-fontSize-heading: 2.5rem;
