@import "../../../variables.scss";

.game-field__result-panel {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: $backgroundPink;
  border-radius: $interfaceBorderRadius;
  margin-bottom: 20px;
}
.game-field__words-panel {
  background-color: $backgroundPink;
  border-radius: $interfaceBorderRadius;
}
.line {
  min-height: 90px;
  width: 100%;
  display: flex;
  padding: 10px 0.25%;
  gap: 5px;
}
.game-field__words-panel {
  .line {
    display: none;
  }
  .line.words-panel__line_active {
    display: flex;
  }
}

.item {
  border-radius: $interfaceBorderRadius;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: $desctop-fontSize-heading;
  position: relative;
  overflow: hidden;
  transition: color 1s ease-in;
  cursor: pointer;
  user-select: none;
  height: calc(90px - 20px);
}

.item__text {
  z-index: 3;
  border-radius: $interfaceBorderRadius;
  background-color: rgba($backgroundPink, 0.3);
  padding: 4px 8px;
  transition: 0.2s all ease;
}
.item__image {
  position: absolute;
}
.item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 8px);
  height: calc(100% - 8px);
  border: $interfaceBorder;
  border-width: 4px;
  border-radius: $interfaceBorderRadius;
  z-index: 5;
  opacity: 0;
  transition: 0.2s all ease;
}
@media (hover: hover) {
  .item:hover {
    .item__text {
      background-color: rgba($backgroundPink, 0.7);
    }
  }
  .item:hover.item::before {
    opacity: 1;
  }
}
@media (hover: none) {
  .item:active {
    .item::before {
      opacity: 1;
    }
    .item__text {
      background-color: rgba($backgroundPink, 0.7);
    }
  }
}
