@import "../../../variables.scss";

.game-field__result-panel {
  display: flex;
  flex-direction: column;
  background-color: $backgroundPink;
  border-radius: $interfaceBorderRadius;
  margin-bottom: 20px;
}
.game-field__words-panel {
  background-color: $backgroundPink;
  border-radius: $interfaceBorderRadius;
}
.line {
  min-height: 75px;
  max-height: 75px;
  width: 100%;
  display: flex;
  // padding: 5px 0;
  // gap: 5px;
  position: relative;
}
.result-panel__line::before {
  content: "10";
  position: absolute;
  left: -65px;
  top: 50%;
  transform: translateY(-50%);
  border: $interfaceBorder;
  border-radius: calc($interfaceBorderRadius * 2);
  width: 60px;
  height: 60px;
  text-align: center;
  padding-top: 10px;
  opacity: 0.3;
  box-sizing: border-box;
  transition: opacity 0.2s ease;
}
.result-panel__line.result-panel__line_active::before {
  opacity: 1;
}
.result-panel__line:nth-child(1):before {
  content: "1";
}
.result-panel__line:nth-child(2):before {
  content: "2";
}
.result-panel__line:nth-child(3):before {
  content: "3";
}
.result-panel__line:nth-child(4):before {
  content: "4";
}
.result-panel__line:nth-child(5):before {
  content: "5";
}
.result-panel__line:nth-child(6):before {
  content: "6";
}
.result-panel__line:nth-child(7):before {
  content: "7";
}
.result-panel__line:nth-child(8):before {
  content: "8";
}
.result-panel__line:nth-child(9):before {
  content: "9";
}
.game-field__words-panel {
  .line {
    display: none;
  }
  .line.words-panel__line_active {
    display: flex;
  }
}

.item {
  border-radius: $interfaceBorderRadius;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: $fontSize-heading;
  position: relative;
  overflow: hidden;
  user-select: none;
  height: 75px;
}

@keyframes item_wrong {
  25% {
    transform: rotate(-5deg);
  }
  75% {
    transform: rotate(5deg);
  }
}
.item_wrong {
  animation: item_wrong 1s ease infinite;
}

.item__text {
  z-index: 3;
  border-radius: $interfaceBorderRadius;
  background-color: rgba($backgroundPink, 0.3);
  padding: 4px 8px;
  transition: opacity 0.2s ease;
}
.item__image {
  position: absolute;
}
.item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  border: solid 2px $borderRed;
  border-radius: $interfaceBorderRadius;
  z-index: 5;
}
.result-panel__line_active,
.words-panel__line_active {
  .item {
    cursor: pointer;
  }
}
@media (hover: hover) {
  .result-panel__line_active,
  .words-panel__line_active {
    .item:hover {
      z-index: 4;
      .item__text {
        background-color: rgba($borderRed, 0.8) !important;
        color: $backgroundPink !important;
      }
    }
    .item:hover.item::before {
      width: calc(100% - 8px);
      height: calc(100% - 8px);
      border: solid 4px $borderRed;
    }
  }
}
@media (hover: none) {
  .result-panel__line_active,
  .words-panel__line_active {
    .item:active {
      z-index: 4;
      .item__text {
        background-color: rgba($borderRed, 0.8) !important;
        color: $backgroundPink !important;
      }
    }
    .item:active.item::before {
      width: calc(100% - 8px);
      height: calc(100% - 8px);
      border: solid 4px $borderRed;
    }
  }
}

.item_no-text {
  .item__text {
    opacity: 0;
  }
}
@media (max-width: 2300px) {
  .line {
    min-height: 65px;
    max-height: 65px;
  }
  .item {
    height: 65px;
    font-size: $fontSize-heading-2300px;
  }
}

@media (max-width: 2000px) {
  .item {
    font-size: $fontSize-heading-2000px;
    .item__text {
      padding: 2px 4px;
    }
  }
  .line {
    min-height: 55px;
    max-height: 55px;
  }
  .line:before {
    padding-top: 5px;
    height: 50px;
    width: 50px;
  }
  .item {
    height: 55px;
  }
}
@media (max-width: 1800px) {
  .item {
    font-size: $fontSize-heading-1800px;
  }
  .line {
    min-height: 45px;
    max-height: 45px;
  }
  .line:before {
    left: -50px;
    padding-top: 5px;
    height: 40px;
    width: 40px;
  }
  .item {
    height: 45px;
  }
  .item::before {
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    border: solid 1px $borderRed;
  }
  @media (hover: hover) {
    .result-panel__line_active,
    .words-panel__line_active {
      .item:hover.item::before {
        width: calc(100% - 4px);
        height: calc(100% - 4px);
        border: solid 2px $borderRed;
      }
    }
  }
  @media (hover: none) {
    .result-panel__line_active,
    .words-panel__line_active {
      .item:active.item::before {
        width: calc(100% - 4px);
        height: calc(100% - 4px);
        border: solid 2px $borderRed;
      }
    }
  }
}
@media (max-width: 1200px) {
  .item {
    font-size: $fontSize-heading-1200px;
  }
  .line {
    min-height: 40px;
    max-height: 40px;
  }
  .line:before {
    left: -40px;
    padding-top: 3px;
    height: 35px;
    width: 35px;
  }
  .item {
    height: 40px;
  }
}

@media (max-width: 950px) {
  .item {
    font-size: $fontSize-heading-950px;
  }
  .line {
    min-height: 35px;
    max-height: 35px;
  }
  .line:before {
    left: -32px;
    padding-top: 3px;
    height: 30px;
    width: 30px;
  }
  .item {
    height: 35px;
  }
}
