@import "../../../variables.scss";

.game-field__result-panel {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: $backgroundPink;
  border-radius: $interfaceBorderRadius;
  margin-bottom: 20px;
}
.game-field__words-panel {
  background-color: $backgroundPink;
  border-radius: $interfaceBorderRadius;
}
.line {
  width: 100%;
  height: 90px;
  display: flex;
  padding: 10px 0.25%;
  gap: 5px;
}
.game-field__words-panel {
  .line {
    display: none;
  }
  .line.words-panel__line_active {
    display: flex;
  }
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: $desctop-fontSize-heading;
  position: relative;
  overflow: hidden;

  cursor: pointer;
  user-select: none;

  transition: color 0.4s ease;
}

.item__text {
  z-index: 3;
}
.item__image {
  position: absolute;
}
